# Ignore node_modules folders in both client and server
/client/node_modules/
/server/node_modules/

# Ignore env files in both frontend and backend
/client/.env
/server/.env

# Optional: general files to exclude
.DS_Store
.env
*.log
dist/
build/
coverage/
